@page
@model WebApplication6.Pages.Patients.IndexModel
@{
}

@{
    ViewData["Title"] = "Lista pacijenata";
}

<br>
<h2>Lista pacijenata</h2>
<a class="btn btn-primary btn-sm" href="/Patients/Create">Novi pacijent</a>

<form method="get" action="/Patients">
    <div class="input-group mb-3 mt-3">
        <input type="text" class="form-control" value="@ViewData["SearchString"]" placeholder="Pretraži po imenu" aria-label="Pretraži po imenu" aria-describedby="search-btn" name="searchString">
        <button class="btn btn-outline-secondary" type="submit" id="search-btn">Pretraži</button>
        <input type="hidden" name="genderFilter" value="@ViewData["genderFilter"]" />
    </div>
</form>


<div style="max-width: 300px;">
    <form method="get" action="/Patients">
        <div class="input-group mb-3 input-group-sm">
            <select class="form-select" name="genderFilter" onchange="this.form.submit()">
                <option value="">Bez filtera</option>
                <option value="Muško" selected="@((string)ViewData["genderFilter"] == "Muško")">Muško</option>
                <option value="Žensko" selected="@((string)ViewData["genderFilter"] == "Žensko")">Žensko</option>
            </select>
            <input type="hidden" name="searchString" value="@ViewData["SearchString"]" />
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>
                Oib
                <a href="?sortOrder=@(Model.SortOrder == "oib_asc" ? "oib_desc" : "oib_asc")&searchString=@Model.SearchString">^</a>
            </th>
            <th>
                Mbo
                <a href="?sortOrder=@(Model.SortOrder == "mbo_asc" ? "mbo_desc" : "mbo_asc")&searchString=@Model.SearchString">^</a>
            </th>
            <th>
                Ime i prezime
                <a href="?sortOrder=@(Model.SortOrder == "name_asc" ? "name_desc" : "name_asc")&searchString=@Model.SearchString">^</a>
            </th>
            <th>
                Spol
                <a href="?sortOrder=@(Model.SortOrder == "gender_asc" ? "gender_desc" : "gender_asc")&searchString=@Model.SearchString">^</a>
            </th>
            <th>
                Datum rođenja
                <a href="?sortOrder=@(Model.SortOrder == "dob_asc" ? "dob_desc" : "dob_asc")&searchString=@Model.SearchString">^</a>
            </th>
            <th>
                Dijagnoza
                <a href="?sortOrder=@(Model.SortOrder == "diagnosis_asc" ? "diagnosis_desc" : "diagnosis_asc")&searchString=@Model.SearchString">^</a>
            </th>
            <th>
                Datum zaprimanja
                <a href="?sortOrder=@(Model.SortOrder == "doa_asc" ? "doa_desc" : "doa_asc")&searchString=@Model.SearchString">^</a>
            </th>
            <th>
                Datum otpusta
                <a href="?sortOrder=@(Model.SortOrder == "dod_asc" ? "dod_desc" : "dod_asc")&searchString=@Model.SearchString">^</a>
            </th>
            <th>Radnje</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.listPatients)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.oib</td>
                <td>@item.mbo</td>
                <td>@item.name</td>
                <td>@item.gender</td>
                <td>@item.dateOfBirth</td>
                <td>@item.diagnosis</td>
                <td>@item.dateOfAdmission</td>
                <td>@item.dateOfDischarge</td>

                <td>
                    <a class="btn btn-primary btn-sm" href="/Patients/Edit?id=@item.id">Edit</a>
                    <a class="btn btn-sm" href="/Patients/Discharge?id=@item.id">Otpusti</a>
                    <a class="btn btn-danger btn-sm" href="/Patients/Delete?id=@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
